.rym__hover {
    border: 2px solid #FFFF00;
    cursor: pointer;
}

.rym__floating_container {
    background-color: white;
    box-shadow: darkslategrey -5px 5px 15px;
    border: 1px solid darkslategrey;
}

#rym__form {
    z-index: 10000;
    position: fixed;
    max-height: 100vh;
    width: 230px;
    overflow-y: scroll;
    color: black;
}

#rym__form-inner {
    padding: 12px;

    p {
        margin: 10px 0 2px 0;
    }

    ul {
        padding: 0;
        max-width: 210px;
    }

    li {
        list-style-type: none;
        list-style-position: inside;
    }

    input {
        width: fit-content;
    }
}

.rym__button-primary {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}