.rym__hover {
    border: 2px solid #FFFF00;
    cursor: pointer;
}

#rym__form {
    z-index: 10000;
    position: fixed;
    max-height: 100vh;
    overflow-y: scroll;

    color: black;
    background-color: white;
    box-shadow: darkslategrey -5px 5px 15px;
    border: 1px solid darkslategrey;
}

#rym__form-inner {
    padding: 12px;
}

#rym__form-inner p {
    margin: 10px 0 2px 0;
}

#rym__form-inner ul {
    padding: 0;
}

#rym__form-inner input {
    width: fit-content;
}