.rym__hover {
    border: 2px solid #FFFF00;
    cursor: pointer;
}

#rym__form {
    z-index: 10000;
    position: fixed;
    max-height: 100vh;
    overflow-y: scroll;

    color: black;
    background-color: white;
    box-shadow: darkslategrey -5px 5px 15px;
    border: 1px solid darkslategrey;
}

#rym__form-inner {
    padding: 12px;

    p {
        margin: 10px 0 2px 0;
    }

    ul {
        padding: 0;
        max-width: 162px;
    }

    li {
        list-style-type: none;
        list-style-position: inside;
    }

    input {
        width: fit-content;
    }
}