.rym__ {
    p, input, li, button, h1, h2, h3, h4  {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
    }
}

.rym__hover {
    border: 2px solid #FFFF00;
    cursor: pointer;
}

.rym__floating_container {
    background-color: white;
    box-shadow: darkslategrey -5px 5px 15px;
    border: 1px solid darkslategrey;
}

#rym__form-inner {
    padding: 12px;

    p {
        margin: 10px 0 2px 0;
    }

    ul {
        padding: 0;
        max-width: 210px;
    }

    li {
        list-style-type: none;
        list-style-position: inside;
    }

    input {
        width: fit-content;
    }
}

.rym__button {
    color: white;
    border: none;
    
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;

    .rym__button-primary {
        background-color: #4CAF50;
        color: white;
    }
}